  {% extends "user_base.html" %}
  {% block content %}
  {% load crispy_forms_tags %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
                          <li><a href="{% url "user_dashboard" %}">Home</a></li>


          <li>Ticket Bookings</li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">



          <div class="col-lg-12 entries">

            <article class="entry entry-single">

              <h5>Ticket Bookings List</h5>
              <hr>
              <div class="" style="overflow:scroll;">
                <table class="table table-striped" style="overflow:scroll;  width:100%; min-width: max-content;">
                  <thead>
                    <tr>
                      <th scope="col" class="bg-dark text-light">Sr.No</th>
                      <th scope="col" class="bg-dark text-light">Booking ID </th>
                      <th scope="col" class="bg-dark text-light">Event Name </th>
                      <th scope="col" class="bg-dark text-light">Total Mombers</th>
                      <th scope="col" class="bg-dark text-light">Total Guests</th>
                      <th scope="col" class="bg-dark text-light">Payment Status</th>
                      <th scope="col" class="bg-dark text-light">Ticket Amount</th>
                      <th scope="col" class="bg-dark text-light">Ticket Status</th>
                      <th scope="col" class="bg-dark text-light">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in tickets_details %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{% if i.payment_status %}{{i.ticket_id}}{% else %}---{% endif %}</td>
                      <td>{{i.event}}</td>
                      <td class="">{{i.member_count}}</td>
                      <td class="">{{i.guest_count}}</td>
                      <td class="">
                        {% if i.payment_status %}
                        <span style="background:green; color:white;">Paid</span>
                        {% else %}
                        <span style="background:red; color:white;">Not Paid</span>
                        {% endif %}
                      </td>
                      <td class="">{{i.price}}.00</td>
                      <td class="">
                        {% if i.ticket_file %}
                        <a href="{{i.ticket_file.url}}" class="btn btn-success" download>Download</a>
                        {% else %}
                        <span class="btn btn-warning">Pending</span>
                        {% endif %}
                      </td>
                      <td class="">

                        {% if not i.payment_status %}
                        <a href="{% url "user_ticket_overview" i.id %}" class="btn btn-primary">view more</a>
                        {% endif %}

                        {% if not i.payment_status %}
                        <a href="{% url "user_delete_ticket" i.id %}" class="btn btn-danger">Delete</a>
                        {% else %}
                        <a href="" class="btn btn-secondary">Delete</a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>


            </article>
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {% endblock content %}
  </body>

  </html>