{% extends "admin_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    
</style>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Member Details</h1>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div><!-- End Page Title -->
 
 

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div style="padding:2%">
                    <!-- Left side columns -->
                    <div>
                        <div class="" style="overflow:scroll;">
                            <table id="example" class="table table-striped"
                                style="overflow:scroll;  width:100%; min-width: max-content;">
                                <thead>
                                    <tr style="background:#000">
                                        <th scope="col" class="text-center text-white">Sr.No</th>
                                        <th scope="col" class="text-center text-white">Full Name</th>
                                        <th scope="col" class="text-center text-white">Gender</th>
                                        <th scope="col" class="text-center text-white">Age</th>
                                        <th scope="col" class="text-center text-white">Relation</th>
                                        <th scope="col" class="text-center text-white">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data %}
                                    {% for r in data %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-left">{{ r.full_name }}</td>
                                        <td class="text-center">{{ r.gender }}</td>
                                        <td class="text-center">{{ r.age }}</td>
                                        <td class="text-center">{{r.relation }}</td>
                                        <td>
                                            <center>
                                                <a href="" class="btn btn-warning px-3">Edit</a>
                                                <a href="" class="btn btn-danger px-3">Delete</a>
                                            </center>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><!-- End Left side columns -->


            </div>
        </div><!-- End Left side columns -->

    </section>
 

</main><!-- End #main -->


{% endblock content %}