{% extends "admin_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #id_description {
        height: 100px;
    } 

    .update_event{
        
        border-radius: 20px;
        background-color: #fff;
    }
     
</style>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Update Events</h1>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div><!-- End Page Title -->
   
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12">
                 
                 <br><br>
                <div class="update_event p-4" id="update_event">
                         
                    <form id="update_event_form"   onsubmit="submitUpdateEventForm()"   method="post">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-sm-12">
                                {{form.title|as_crispy_field}}
                            </div>
                            <div class="col-sm-12">
                                {{form.description|as_crispy_field}}
                            </div>
                            <div class="col-sm-4">
                                {{form.location|as_crispy_field}}
                            </div>
                            <div class="col-sm-4">
                                {{form.start_time|as_crispy_field}}
                            </div>
                            <div class="col-sm-4">
                                {{form.end_time|as_crispy_field}}
                            </div>
                            
                            <div class="col-sm-4">
                                {{form.organizer|as_crispy_field}}
                            </div>
                            <div class="col-sm-4">
                                {{form.status|as_crispy_field}}
                            </div>
                            <div class="col-sm-4">
                                {{form.capacity|as_crispy_field}}
                            </div>

                            
                            <div class="col-sm-6">
                                {{form.category|as_crispy_field}}
                            </div>
                            <div class="col-sm-6">
                                {{form.url|as_crispy_field}}
                            </div>

                            
                        </div>
                        <center>
                        <input type="submit" id="update_form_submit_button" class="btn btn-primary mt-2 px-5" value="Update">

                        <button class="btn btn-secondary mt-2 px-4"  id="update_form_loading_button" type="button" style="display: none;"  disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading....
                          </button>
                        </center>
                    </form>
                </div>

            </div>
             
        </div>
    </div>
 
    </script>

</main><!-- End #main -->

<script>
    
    function submitUpdateEventForm() {
        document.getElementById('update_form_submit_button').style.display = 'none';
        document.getElementById('update_form_loading_button').style.display = 'block';
        document.getElementById('update_event_form').submit();
    }
</script>
{% endblock content %}